.user_home_style {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.user_url_card_title_style {
  text-align: center;
  margin-bottom: 2vh;
  font-family: "Roboto Slab", serif;
  color: #1f3c4e;
  font-size: 4vh;
}

.user_url_card_style {
  background-color: whitesmoke;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  padding: 4vh;
  border-radius: 1vh;
  box-shadow: rgb(66, 94, 107) 1vh 1vh 3vh;
}

.user_url_short_card_style {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: rgb(182, 181, 181) 0vh 0vh 2vh;
  padding: 2vh;
  border-radius: 1.5vh;
}

.title_ipt_box_style {
  width: 40vh;
  height: 4vh;
  border-radius: 1vh;
  margin-bottom: 2vh;

  outline: none;
  box-shadow: rgb(182, 181, 181) 0vh 0vh 1.5vh;
  border: none;
  font-size: 2.3vh;
  padding: 1vh;
  font-family: "Newsreader", serif;
}

.user_url_ipt_box_style {
  width: 40vh;
  height: 4vh;
  border-radius: 1vh;
  margin-bottom: 2vh;
  outline: none;
  box-shadow: rgb(182, 181, 181) 0vh 0vh 1.5vh;
  border: none;
  font-size: 2.3vh;
  padding: 1vh;
  font-family: "Newsreader", serif;
}

.user_short_btn_style {
  font-size: 2vh;
  padding: 0.6vh 0.9vh 0.6vh 0.9vh;
  align-self: center;
  width: 20vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  font-family: "Domine", serif;
  background: rgb(89, 165, 170);
  color: whitesmoke;
}

.user_short_btn_style:hover {
  color: whitesmoke;
  background: rgb(41, 112, 117);
  box-shadow: 0 0 10px rgb(41, 112, 117), 0 0 40px rgb(41, 112, 117),
    0 0 10px rgb(41, 112, 117);
}

.user_url_output_box_style {
  width: 35vh;
  background-color: transparent;
  height: 4vh;
  padding: 1vh;
  border-radius: 1vh;
  border: none;
  outline: none;
  box-shadow: rgb(182, 181, 181) 0vh 0vh 2vh;
  font-size: 2.3vh;
  font-family: "Newsreader", serif;
  align-self: center;
  margin-top: 5vh;
}

.update_btn {
  font-size: 2vh;
  padding: 0.6vh 0.9vh 0.6vh 0.9vh;
  align-self: center;
  margin-top: 2vh;
  width: 20vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  font-family: "Domine", serif;
  background: rgb(89, 165, 170);
  color: whitesmoke;
}

.update_btn:hover {
  color: whitesmoke;
  background: rgb(41, 112, 117);
  box-shadow: 0 0 10px rgb(41, 112, 117), 0 0 40px rgb(41, 112, 117),
    0 0 10px rgb(41, 112, 117);
}

.save_btn {
  font-size: 2vh;
  padding: 0.6vh 0.9vh 0.6vh 0.9vh;
  align-self: center;
  margin-top: 2vh;
  width: 20vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  font-family: "Domine", serif;
  background: rgb(89, 165, 170);
  color: whitesmoke;
}

.save_btn:hover {
  color: whitesmoke;
  background: rgb(41, 112, 117);
  box-shadow: 0 0 10px rgb(41, 112, 117), 0 0 40px rgb(41, 112, 117),
    0 0 10px rgb(41, 112, 117);
}

.user_left_style {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_right_style {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.table_style {
  align-self: center;
  margin-top: 17vh;
  width: 75vh;
  background-color: whitesmoke;
  box-shadow: rgb(66, 94, 107) 1vh 1vh 3vh;
}

.table_data1 {
  text-align: center;
  padding: 1vh 2.5vh 1vh 2.5vh;
  word-break: break-all;
  font-size: 2vh;
  font-family: "Newsreader", serif;
}

.table_data2 {
  text-align: center;
  padding: 1vh 2.5vh 1vh 2.5vh;
  word-break: break-all;
  font-size: 2vh;
  font-family: "Newsreader", serif;
}

.table_data3 {
  text-align: center;
}

.del_btn {
  font-size: 2vh;
  padding: 0.6vh 0.9vh 0.6vh 0.9vh;
  margin-left: 3.5vh;
  width: 10vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  font-family: "Domine", serif;
  background: salmon;
  color: whitesmoke;
}

.del_btn:hover {
  color: whitesmoke;
  background: salmon;
  box-shadow: 0 0 10px salmon, 0 0 40px salmon, 0 0 10px salmon;
}

.bg_color:nth-child(odd) {
  background-color: #d1d0d0;
}


.table_head {
  background-color: rgb(168, 159, 159);
  padding: 1.5vh;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.head_border1 {
  border-right: 1px solid black;
  padding: 1vh 5.5vh 1vh 5.5vh;
  font-size: 2.5vh;
}

.head_border2 {
  border-right: 1px solid black;
  font-size: 2.5vh;
}

.head_border3 {
  font-size: 2.5vh;
}

.tbody_scroll {
  max-height: 45vh;
  display: block;
  overflow-y: auto;
  overflow-x: none;
}

.thead_block,
.tbody_scroll tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.user_title_name {
  margin-top: 5vh;
  margin-bottom: 0vh;
  font-family: "Roboto Slab", serif;
  font-size: 4vh;
}

.u_l_pos {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.logout_hrf {
  margin-top: 5vh;
  display: block;
}

.logout_hrf:hover {
  margin-top: 4.5vh;
}

.logout_img {
  margin-top: 0vh;
  margin-left: 2vh;
  margin-right: 3.5vh;
  display: block;
  width: 4vh;
  height: 4vh;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 2vh;
}
